@if(error$() !== undefined){
<p>{{ error$() }}</p>
} @else { @if(taskTickets$().length === 0){
<p class="mx-4 mt-4 px-2 pt-2 pb-2">User doesn't have any associated tasks.</p>
} @else {
<ul>
  @for (taskTicket of taskTickets$(); track taskTicket.id) {
  <li>
    <app-task-ticket [taskTicket]="taskTicket" />
  </li>
  }
</ul>
} @if(showForm()){
<form
  [formGroup]="addTaskTicketForm"
  class="bg-sky-200 mx-4 mt-4 mb-4 px-4 pt-4 pb-4 shadow shadow-slate-800"
  (ngSubmit)="onFormSubmit()"
>
  <label for="title">Task Name: </label>
  <input
    id="title"
    type="text"
    formControlName="title"
    class="block border border-gray-400 mt-2 w-full"
  />

  <label for="description" class="block mt-4">Description: </label>
  <textarea
    id="description"
    formControlName="description"
    rows="4"
    class="block resize-none border border-gray-400 mt-2 w-full"
  ></textarea>

  <div class="mt-4">
    <label for="opened">Open? </label>
    <input id="opened" type="checkbox" formControlName="opened" />
  </div>

  <div class="flex gap-4">
    <button
      class="basis-1/2 block mt-4 px-2 pt-2 pb-2 bg-emerald-300 hover:bg-emerald-400 shadow shadow-slate-800 rounded"
      type="submit"
    >
      Submit
    </button>

    <button
      class="basis-1/2 block mt-4 px-2 pt-2 pb-2 bg-red-400 hover:bg-red-500 shadow shadow-slate-800 rounded"
      type="button"
      (click)="resetForm()"
    >
      Cancel
    </button>
  </div>
</form>
} @else{
<button
  class="mx-4 mt-4 px-6 pt-2 pb-2 bg-emerald-300 hover:bg-emerald-400 shadow shadow-slate-800 rounded"
  (click)="onAddButtonClick()"
>
  Add task
</button>
} }
